# @tbusillo:registry=npm.pkg.github.com/:_authToken=${GH_PACKAGE_TOKEN}
# @tbusillo:registry=https://npm.pkg.github.com
@teensy:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}