registry=https://registry.npmjs.org/
# //registry.npmjs.org/@teensy/:_authToken=${{secrets.NPM_AUTH_TOKEN}}
# //registry.npmjs.org/@teensy/:username=${{secrets.NPM_USERNAME}}
# //registry.npmjs.org/@teensy/:email=${{secrets.NPM_EMAIL}}
# //registry.npmjs.org/@teensy/:always-auth=true
# @teensy:registry=https://registry.npmjs.org/@teensy
enable-pre-post-scripts=true